.header{
    margin-top:2%;
    width: 100%;
    color: #ed3a04;
    font-family: sans-serif;
}

.logo, .logoright{
    display: inline-block;
    margin-top: 0%;
    margin-left: 3%;
}

.logo{
    width: 65%;
}

.logo p{
    font-size: 45px;
}

.logo img{
    margin-top: 2%;
    width:150px;
    float:left;
    margin-right: 20px;
    vertical-align:middle;
}

.logo p{
    margin-top: 2%;
}

.logo p span{
    font-size: 90px;
    margin-bottom: 5%;
}

.logoright{
    width:22%;
    margin-top: 2%;
    margin-right: 0%;
    text-align: right;
    vertical-align: top;
    font-size: 15px;
}

.section{
    display: flex;
    margin-left: 3%;
}

.bluebox{
    width: 25%;
    height: 75%;
    padding-top: 2px;
    font-size: 25px;
    color: white;
    margin-right: 1%;
    background-color: #FFB3B3;
}

.bluebox-p{
    list-style-type: none;
    padding-left: 0%;
    display: block;

}

.bluebox-p li{
    padding-bottom: 18%;
}

.bluebox-p li:hover{
    background-color: #800000;
    margin-left: 0%;
    color:#CD853F;
}

.right{
    width: 67%;
    margin-bottom: 0;
}

.r-span{
    color: white;
    background-color: #800000;
    padding: 2% 2% 2% 8%;
    font-size: 43px;
    letter-spacing: 20px;
    width: 100%;
    margin-top: 0%;
}

.right img{
    float: right;
    width: 37%;
    margin-top: 1%;
    margin-right: 0%;
    padding: 2% 2% 6% 2%;
    border: solid 2px black;
    background-color:#FFB3B3;
}
.r-text{
    width: 80%;
    font-size: 27px;
}

.r-hours{
    color: white;
    background-color: #CD853F;
    padding: 1% 1% 1% 4%;
    font-size: 40px;
    letter-spacing: 20px;
    width: 100%;
}

.r-ul{
    font-size: 27px;
    list-style-type:none;
}

.r-ul-span{
    color: #CD853F;
    vertical-align: bottom;
    font-size: 30px;
}

footer{
    margin: 0% 3%;
    text-align: center;
    background-color: #800000;
    color:white;
    padding: 7px;
}